.new_details {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 50px 0;
}

.information {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
}

.text {
    flex: 1;
    padding: 20px;
}

.text p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
}

.apply {
    margin-top: 20px;
    text-align: center;
}

.apply h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.apply button {
    background-color: #29b6f6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.apply button:hover {
    background-color: #2081c3;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    animation: floating 1.3s ease-in-out infinite alternate;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(10px);
    }
}

.mark_attend {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/innerim.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mark_form {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
}

.form {
    display: flex;
    flex-direction: column;
}

.register {
    font-size: 14px;
    margin: 10px 0;
    font-weight: bold;
}

.reg_inp {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    transition: border-color 0.3s;
}

.reg_inp.clicked {
    border-color: #29b6f6;
}

.form button {
    background-color: #29b6f6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2081c3;
}

.message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}